/*Default size is 1200px wide and up*/
html, body{
	height: 100%;
	width: 100%;
    font-family: 'Roboto Slab';
    font-size: 18px;
    background-color: #00061A;
    color: #E8FBFD;
}

body{
	margin-top: 50px;
}

a:hover{
	text-decoration: none;
}

p{
	text-indent: 1em;
	line-height: 1.5;
}

/*~~~~~~~~~~~~~~~~~~~~~~~Classes~~~~~~~~~~~~~~~~~~~~~~~*/
.audiowide{
	font-family: 'Audiowide';
}

.anchor{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

.borderRadius0{
	border-radius: 0;
}

.footer{
	font-size: 0.75em;
	margin-bottom: 1em;
}

.margin0{
	margin: 0;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #00061A; 
	border-color: #353535;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #1B58B4;
	border-radius: 2em;
	box-shadow: 0 4px #0A377C;
	font-size: 1em;
}

.navbar-inverse .navbar-nav> li>a{
	margin-top: 0.33em;
	margin-bottom: 0.33em;
	-webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.navbar-inverse .navbar-nav> li>a:hover{
	font-size: 1.1em;
}

.padding0{
	padding: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~IDs~~~~~~~~~~~~~~~~~~~~~~~*/
#aboutMe{
	margin-top: 15%;
	margin-left: 2.5%;
	max-width: 40vw;
	float: left;
	background: rgba(255,255,255,0.4);
	color: #061D40;
	border-radius: 10px;
	border: solid 1px #030624;
}

#aboutMeToPortfolio{
	font-size: 3em; 
	color: #38B41B; 
	text-shadow: 0 4px #096710;
}

#navbarTitle{
	font-size: 1.5em;
	font-weight: bold;
	color: #2F70D2;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	-webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

#navbarTitle:hover{
	font-size: 1.55em;
}

#myNavbar{
	height: 100%;
}

#resume{
	padding-top: 1em;
}

#wrLogo{
	height: 1.25em;
}

/*~~~~~~~~~~~~~~~~~~~Social Media begins~~~~~~~~~~~~~~~~~~~*/
#email{
	font-size: 2.35em;
	color: #BD0707;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#gitHubLarge{
	font-size: 3em;
	color: #511094;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#gitHubSmall{
	font-size: 1.25em;
	color: #511094;
}

#linkedIn{
	font-size: 3em;
	color: #28ABE8;
	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#resumeIcon{
	font-size: 1.25em;
	color: #941016;
}

#email:hover, #gitHubLarge:hover, #linkedIn:hover{
	opacity: 0.5;
}

/*~~~~~~~~~~~~~~~~~~~Social Media ends~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~Parallax effect begins~~~~~~~~~~~~~~~~~~~*/
.aboutParallax{
	height: 100%;
    padding-left: 0 !important;
	padding-right: 0 !important;
	background-image: url("../images/portrait1.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: contrast(125%) brightness(125%);
    filter: contrast(125%) brightness(125%);
}

.contactInfoParallax{
	max-height: 50%;
	background-image: url("../images/galaxy.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*~~~~~~~~~~~~~~~~~~~Parallax effect ends~~~~~~~~~~~~~~~~~~~*/


/* ------------------------Landscape tablets and medium desktops--------------------------------- */
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		font-size: 16px;
	}
}

/* --------------------------Portrait tablets and small desktops--------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
	body{
		font-size: 14px;
	}
 
}	

/* --------------------------------Landscape phones and portrait tablets------------------------- */
@media (max-width: 767px) {
	body{
		font-size: 12px;
	}

	.aboutParallax{
		background-image: url("../images/portrait1Small.jpg");
		background-attachment: scroll;
	}
}	

/* ---------------------------------Large Portrait phones--------------------------------- */
@media (max-width: 480px) {
	body{
		font-size: 10px;
	}

	.aboutParallax{
		background-image: url("../images/portrait1Small.jpg");
		background-attachment: scroll;
	}
}

/* ---------------------------------Small Portrait phones--------------------------------- */
@media (max-width: 320px) {
	body{
		font-size: 8px;
	}

	.aboutParallax{
		background-image: url("../images/portrait1Small.jpg");
		background-attachment: scroll;
	}

}	